@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #B1B2FF;
    outline: 0 m !important;
    /* border-radius: 12px; */
}

* {
    transition: 0.4s !important;
    font-family: 'Josefin Sans', sans-serif;
}
header {
    padding: 24px;
    /* background-color: #D2DAFF; */
    background-color: #e1e1e1;
    border-bottom: 1px solid #2e2e2e98;
}
header .container {
    display: flex !important;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
@media screen and (max-width: 840px) {
    header .container {
        flex-direction: column !important;
    }
    footer div {
        text-align: center;
    }
    footer .col-md.ml-auto.sosmed {
        justify-content: center !important;
    }
}
header .container .logo {
    color: #fff;
}
header .container a:hover {
    color: rgb(41, 41, 41);
}
header .container a {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    text-decoration: none;
}
header .container a h3 {
    padding-top: 5px;
    margin: 0 !important;
    display: inline !important;
}
header .container ul {
    list-style: none;
    display: flex !important;
    text-align: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}
.header-scroll-modif {
    padding: 23px;
    /* background-color: #AAC4FF; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header-scroll-modif .container a {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
/* footer */
footer {
    padding: 30px 0 27px 0;
    font-size: 1.1rem;
    /* background-color: #AAC4FF; */
    
}
footer .row .col-md {
    padding: 0 !important;
}
.sosmed {
    display: flex;
    align-items: end;
    justify-content: end;
}
footer a {
    color: #fff !important;
}
footer .f-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    transform: scale(1.4);
    grid-gap: 17px;
}

/* section */
.about {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e1e1e1;
}
.about h1 {
    font-weight: bold;
}

/* card-section */
.items .card {
    color: #000 !important;
    text-decoration: none;
    border: 0 !important;
}
.port-title {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
}
.items .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.items .card:hover img {
    object-position: bottom;
}
.items img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

/* responsive */
@media screen and (max-width: 776px) {
    .items {
        grid-template-columns: 1fr !important;
    }
    header .container a {
        padding: 0rem 1rem;
    }
    /* font */
    .display-3 {
        font-size: calc(1rem + 3.3vw);
    }
    .display-6 {
        font-size: calc(0.8rem + 1.5vw);
    }
    .header-scroll-modif {
        padding: 9px;
    }
    li.child-nav {
        margin-top: 12px;
    }
}